*{margin:0; padding:0}
body{
	font-family:Arial,sans-serif;
	font-size:13px;
	margin-top:-27px;
	background-color: #dedede;
}
a:link { 
text-decoration: none; 
} 
a:visited { 
text-decoration: none;
} 
a:hover { 
text-decoration: none; 
} 
a:active { 
text-decoration: none; 
} 
ul{ list-style:none}
li{list-style:none}
#wrap{
	width:1000px; 
	margin:15px auto;
	background-color: white;
	min-height: 800px;
}
.clear{ 
	clear:both; 
	height:5px; 
	margin:5px 0
}
.menu a{color: white;}
.menu>li{
	text-align: center;
	width: 116px;
	float: left; 
	border-right: 1px solid #E8E8E8; 
	background: #0B5485;
	z-index:700;
}
.menu>li:last-child{ border-right: none;}
.menu li{ position: relative;}
.menu>li a{display: block; text-transform: none; padding: 10px;}
.menu>li>a{ text-transform: uppercase;}
.menu>li>a{ display: block; padding: 10px;}
.menu li .sub_menu{ 
	position: absolute; 
	display: none;
	width: 160px;
	background: #810C7D;
	top: 0px;
	left: 100%;
	text-align: left;
}
.menu li:hover>.sub_menu { display: block;}
.menu>li>.sub_menu{
	top: 39px;
	position: absolute;
	left: 0px;
}
.menu li{border-bottom: 1px solid #ffff;}
.menu li:last-child{ border-bottom: none;}
.menu li:hover{ background: #06CAC8;}
.menu li.down{
	background-image: url('../images/down.gif');
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.menu li.right{
	background-image: url('../images/right.gif');
	background-repeat: no-repeat;
	background-position: 95% 50%;
}